:root {
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

    --fuente-principal: 3.8rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: "Krub", serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
    padding: 1rem 0;
}

.navegacion-principal {
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a {
    color: var(--blanco);
    font-size: 1.6rem;
    text-decoration: none;
}